<form method="post" action="{{ path('department_delete', {'id': department.id}) }}" onsubmit="return confirm('Supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ department.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
